@import "defaults";
modal-data-upload {
  z-index: 1005;
}

#modal-data-upload .error {
  color: red;
}

#modal-data-upload .row-label {
  text-align: right;
  padding-right: 1em;
  padding-left: 2em;
  font-weight: bold;
}

#modal-data-upload .upload-title {
  padding-right: 1em;
  font-weight: bold;
}

#extra-parameters .form-group {
  margin-bottom: 5px;
}

#modal-data-upload .section-title {
  padding-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

.filepond--root{
  margin-bottom: 0.8em!important;
  padding-top: 0.8em!important;
  font-size: 1.2em!important;
}

.filepond--drop-label {
  margin-top: 15px !important;
  transform: none !important;
}

.upload-item > .panel {
  margin-bottom: 8px;
}
