<div class="panel-heading">
    <button type="button" class="close" title="Close panel"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-download"></i> Download Manager <i style="cursor: help;" class="fa fa-info-circle" title="The download service has a limit on returned data size which is equivalent to 50 daily SWARM LR products"></i></h3>
</div>
<div class="panel-body" style="max-height:30em">
  
  <div id="download_processes"></div>
  
  <div style="font-weight:bold;">Filters</div>

  <div id="time_input_switch" style="margin:7px">
    <input type="checkbox" value="" id="time_input_cb">&nbsp;Specify time&nbsp;<i style="cursor: help;" class="fa fa-info-circle" title="By default, the data requests are rounded to whole days. Check 'specify time' to allow finer time selection."></i>
  </div>

  <div id="date_filter"></div>

  <div id="time_filter"></div>

  <div id="filters"></div>

  <div style="margin-top:10px;">
    <div id="productsList" style="float:left;"></div>
    <div id="modelsList" style="float:left; margin-left:50px;"></div>
    <div class="spacer" style="clear: both;"></div>
  </div>

  <div id="custom_parameters_switch" style="margin:7px">
    <input type="checkbox" value="" id="custom_parameters_cb">&nbsp;Custom download parameters
  </div>
  <div id="custom_parameters_selection" class="w2ui-field">
    <div style="margin-left:0px;"><input id="parameters_list" style="width:100%;"></div>
  </div>

  <div id="sampling_input_switch" style="margin:7px">
    <input type="checkbox" value="" id="sampling_input_cb">&nbsp;Custom time subsampling
  </div>
  <div id="time_sampling_filter"></div>

</div>

<div class="panel-footer" style="height:55px">
  <div style="float:left; padding-top:6px; margin-right: 5px;">
    <b>File format</b> 
  </div>
  <div style="float:left; padding-top:6px;">
    <select class="input-small" id="select-output-format">
      <option value="application/cdf" selected>CDF - Common data format</option>
      <option value="text/csv">CSV - Comma-separated values</option>
    </select>
  </div>
  <div style="float: right">
    <button style="pointer-events: auto;" type="button" class="btn btn-primary" id="btn-start-download" disabled><i class="fa fa-fw fa-cogs"></i> Process & create link</button>
  </div>
</div>
