<p>Apex height: <b>{{apex_height}} km</b></p>
{{#each points}}
  <p>{{this.name}} - Lat: <b>{{this.lat}}</b> Lon: <b>{{this.lon}}</b></p>
{{/each}}
<button type="button" class="close fl-close"><span>&times;</span></button>
