<div class="modal-dialog" id="infoblock">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" title="Close panel"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About </h3>
    </div>
    <div class="modal-body modal-body-about">
		<p style="font-size:1.4em">VirES for Swarm</p>
		<p>
			VirES for Swarm is the visual interface to the <a href="https://earth.esa.int/swarm" target="_blank">Swarm mission</a> products officially released by the European Space Agency. It includes tools for studying various geomagnetic models by comparing them to the Swarm satellite measurements at given space weather and ionospheric conditions.
		</p>

		<p style="font-size:1.4em">The Data</p>

		<p>The following products are taken from all three Swarm Satellites:</p>
          <ul>
            <li style="list-style-type: circle;">
              The magnetic vector and scalar data at a 1 Hz at exact UTC seconds (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-1b-product-definitions#MAGX_LR_1B_Product">Swarm MAGX_LR_1B</a>)
            </li>
            <li style="list-style-type: circle;">
              The plasma data from the Langmuir probe including electron temperature and plasma density at 2 Hz (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-1b-product-definitions#EFIX_LP_1B_Product">Swarm EFIX_LP_1B</a>)
            </li>
            <li style="list-style-type: circle;">
              The ionospheric bubble index data (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#IBIxTMS_2F">Swarm IBIxTMS_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              The ionospheric total electron content data (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#TECxTMS_2F">Swarm TECxTMS_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              The single and combined S/C solution for the current density data (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#FACxTMS_2F">Swarm FACxTMS_2F</a> and <a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#FAC_TMS_2F">FAC_TMS</a>)
            </li>
            <li style="list-style-type: circle;">
              The dayside equatorial electric field data (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#EEFxTMS_2F">Swarm EEFxTMS_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              The characteristics of the plasma density and plasma irregularities along the orbit (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#IPDxIRR_2F">Swarm IPDxIRR_2F</a>)
            </li>
          </ul>

          <p>The following models of the Earth's magnetic field and its time variation are pre-loaded:</p>
          <ul>
            <li style="list-style-type: circle;">
              The 13th generation of the International Geomagnetic Reference Field (<a target="_blank" href="http://earth-planets-space.springeropen.com/articles/10.1186/s40623-015-0228-9">IGRF 13</a>) released in December 2019 by the International Association of Geomagnetism and Aeronomy
            </li>
            <li style="list-style-type: circle;">
              The CHAOS-7 high resolution geomagnetic field model derived from Swarm, CHAMP, Ørsted, SAC-C and Cryosat satellite magnetic data along with ground observatory data (<a target="_blank" href="http://www.spacecenter.dk/files/magnetic-models/CHAOS-7/">CHAOS-7</a>)
            </li>
            <li style="list-style-type: circle;">
              The LCS-1 high-resolution lithospheric field model, derived from CHAMP and Swarm satellite observations (<a target="_blank" href="http://www.spacecenter.dk/files/magnetic-models/LCS-1/">LCS-1</a>)
            </li>
            <li style="list-style-type: circle;">
              The MF7 crustal field model, derived from CHAMP satellite observations (<a target="_blank" href="http://geomag.org/models/MF7.html">MF7</a>)
            </li>
          </ul>
          <p>The following Spherical Harmonic Models of the Core Field are available:</p>
          <ul>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the main (core) field and its temporal variation (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MCO_SHA_2C">MCO_SHA_2C</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the main (core) field and its temporal variation (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MCO_SHA_2D">MCO_SHA_2D</a>)
            </li>
          </ul>
          <p>The following Spherical Harmonic Models of the Lithosphereic Field are available:</p>
          <ul>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the lithospheric field (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MLI_SHA_2C">MLI_SHA_2C</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the lithospheric field (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MLI_SHA_2D">MLI_SHA_2D</a>)
            </li>
          </ul>
          <p>The following Spherical Harmonic Models of the Magnetospheric Field are available:</p>
          <ul>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MMA_SHA_2C">MMA_SHA_2C primary and secondary field</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MMA_SHA_2F">MMA_SHA_2F primary and secondary field</a>)
            </li>
            <li style="list-style-type: circle;">
              The <a target="_blank" href="http://www.spacecenter.dk/files/magnetic-models/CHAOS-7/">CHAOS</a> spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (CHAOS-MMA primary and secondary field)
            </li>
          </ul>
          <p>The following Spherical Harmonic Models of the Daily Geomagnetic Variation are available:</p>
          <ul>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the daily geomagnetic variation at middle latitudes (Sq) and low latitudes (EEJ) (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MIO_SHA_2C">MIO_SHA_2C primary and secondary field</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the daily geomagnetic variation at middle latitudes (Sq) and low latitudes (EEJ) (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MIO_SHA_2D">MIO_SHA_2D primary and secondary field</a>)
            </li>
          </ul>

          <p>Users can also work with Custom Models and upload Spherical Harmonic Expansion coefficients (<a target="_blank" href="http://www.spacecenter.dk/files/magnetic-models/CHAOS-5/SHC-Format-Decsription.pdf">SHC file format</a>)</p>
          <p>The global context of space weather is provided in form of:</p>
          <ul>
            <li style="list-style-type: circle;">
              The Disturbance storm time index (<a target="_blank" href="https://en.wikipedia.org/wiki/Disturbance_storm_time_index">Dst Index</a>)
            </li>
            <li style="list-style-type: circle;">
              The disturbances in the horizontal component of the Earth's magnetic field (<a target="_blank" href="https://en.wikipedia.org/wiki/K-index">planetary Kp Index</a>)
            </li>
            <li style="list-style-type: circle;">
              Observed daily measure of the solar radio flux per unit frequency at a wavelength of 10.7 cm
              (<a target="_blank" href="https://en.wikipedia.org/wiki/Solar_cycle#Solar_radio_flux">F10.7 index</a>) read from
              the auxiliary <a target="_blank" href="https://earth.esa.int/documents/10174/1514862/Swarm_L2_Product_Specification/">AUX_F10_2_</a> product.
            </li>
          </ul>

          <p>
            The data accessible on VirES consists of the newest versions available and any new data will appear within 4 hours of generation.
          </p>

		<p style="font-size:1.4em">Questions?</p>

		<p>Have a look at our <a target="_blank" href="/faq">Frequently asked Questions</a> or our <a href="/swarm_static/other/VirES_for_Swarm_Tutorial_Slides.pdf" target="_blank">tutorial slides</a>. For any further questions or ideas on how we can improve feel free to contact us at <a href="mailto:feedback@vires.services">feedback@vires.services</a></p>
	   	<div class="row" style="margin-top:30px;">
	   		<div class="col-md-3" style="text-align:center;"><a target="_blank" href="//eox.at"><img style="height:32px;vertical-align: center" src="/swarm_static/workspace/images/logos/EOX_Logo.png" alt="EOX IT Services GmbH logo"></a></div>
	   		<div class="col-md-3" style="text-align:center;"></div>
	   		<div class="col-md-3" style="text-align:center;"></div>
	   		<div class="col-md-3" style="text-align:center;"><a target="_blank" href="http://esa.int"><img style="height:80px; margin-top:-22px; vertical-align: center" src="/swarm_static/workspace/images/logos/esa.png" alt="European Space Agency Logo"></a></div>
	   	</div>
	</div>
	<div class="text-muted" style="text-align: center; margin-top:-2em; position: relative;">
		<a style="display:inline; margin-right:5px;" href="/data_terms" target="_blank">ESA Data Terms</a> |
		<a style="display:inline; margin-left:5px;" href="/service_terms" target="_blank">VirES Service Terms</a> |
		<a style="display:inline; margin-left:5px;" href="/privacy_notice" target="_blank">Privacy Notice</a> |
		<a style="display:inline; margin-left:5px;" href="/changelog" target="_blank">New release information</a>
	</div>
    <p style="text-align:right;margin-right:1em;">Service version: {{ version }}</p>
  </div>
</div>
