<div class="modal-dialog" id="infoblock">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" title="Close panel"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About </h3>
    </div>
    <div class="modal-body modal-body-about">
    <p style="font-size:1.4em">VirES for Swarm</p>
    <p>
      <i>VirES for Swarm</i> is an interactive web interface for visualization of the <a target="_blank" href="https://earth.esa.int/eogateway/missions/swarm" target="_blank">Swarm mission</a> products officially released by the European Space Agency.  It includes tools for studying various geomagnetic models by comparing them to the Swarm satellite measurements at given space weather and ionospheric conditions.
    </p>
    <p>
      In addition to this interactive web interface, users can also explore the data in
      <a target="_blank" href="https://swarm-vre.readthedocs.io/en/latest/intro.html">Jupyter-based</a>
      <a target="_blank" href="https://vre.vires.services"><i>Virtual Reseach Environmet</i></a> (see <a href="https://notebooks.vires.services/docs/vre-overview.html" target="_blank">VRE User Guide</a>)
      or on their own computer via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/readme.html">Python client</a>.
    </p>
    <p>
      Selected datasets can be also accessed via the <a target="_blank" href="/hapi">Heliophysics Application Programming Interface (HAPI)</a>.
    </p>

    <p style="font-size:1.4em">Data</p>

          <p>Data from the following Swarm products are available in VirES:</p>
          <ul>
            <li style="list-style-type: circle;">
              Low resolution (1Hz) magnetic VFM vector and ASM scalar data (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MAGx_LR_1B">MAGx_LR_1B</a>)
            </li>
            <li style="list-style-type: circle;">
              High resolution (50Hz) magnetic VFM vector data (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MAGx_HR_1B">MAGx_HR_1B</a>,
              accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>,
              readily available in <a target="_blank" href="https://vre.vires.services/">VRE</a>)
            </li>
            <li style="list-style-type: circle;">
              Plasma data (2Hz) from the Langmuir probe including electron temperature and plasma density (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EFIx_LP_1B">EFIx_LP_1B</a>)
            </li>
            <li style="list-style-type: circle;">
              Ionospheric bubble index data (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_IBIxTMS_2F">IBIxTMS_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              Ionospheric total electron content data (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_TECxTMS_2F">TECxTMS_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              Field aligned current (single and dual S/C)
              (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_FACxTMS_2F">FACxTMS_2F</a> and
              <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_FAC_TMS_2F">FAC_TMS_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              Dayside equatorial electric field data (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EEFxTMS_2F">EEFxTMS_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              Characteristics of the plasma density and plasma irregularities along the orbit (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_IPDxIRR_2F">IPDxIRR_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              High-latitude ionospheric horizontal sheet current densities profiles calculated using
              the Line Current (<a target="aebs_spec" href="https://swarmhandbook.earth.esa.int/catalogue/SW_AEJxLPL_2F">AEJxLPL_2F</a>)
              and Spherical Elementary Current Systems (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_AEJxLPS_2F">AEJxLPS_2F</a>) methods
            </li>
            <li style="list-style-type: circle;">
              High-latitude ionospheric horizontal sheet current boundaries and peaks locations calculated using
              the Line Current (<a target="aebs_spec" href="https://swarmhandbook.earth.esa.int/catalogue/SW_AEJxPBL_2F">AEJxPBL_2F</a>)
              and Spherical Elementary Current Systems (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_AEJxPBS_2F">AEJxPBS_2F</a>) methods
            </li>
            <li style="list-style-type: circle;">
              Aurora oval boundaries determined from the field aligned current data
              (<a target="aebs_spec" href="https://swarmhandbook.earth.esa.int/catalogue/SW_AOBxFAC_2F">AOBxFAC_2F</a>)
            </li>
            <li style="list-style-type: circle;">
              Mid-latitude ionospheric trough (MIT) boundaries and minima based on the Langmuir probe electron density and temperature measurements
              (<a target="prism_spec" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MITx_LP_2F">MITx_LP_2F</a>),
              accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>.
            </li>
            <li style="list-style-type: circle;">
              Mid-latitude ionospheric trough (MIT) boundaries and minima derived from the GPS TEC estimate
              (<a target="prism_spec" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MITxTEC_2F">MITxTEC_2F</a>),
              accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>.
            </li>
            <li style="list-style-type: circle;">
              Midnight plasma-pause index (PPI) and the associated SSFAC boundaries
              (<a target="prism_spec" href="https://swarmhandbook.earth.esa.int/catalogue/SW_PPIxFAC_2F">PPIxFAC_2F</a>),
              accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>.
            </li>
            <li style="list-style-type: circle;">
              Thermal ion imager cross track flow data at 2&nbsp;Hz (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EFIX_TCT02">EFIx_TCT02</a>) and 16&nbsp;Hz (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EFIX_TCT16">EFIx_TCT16</a>).
              The 16&nbsp;Hz dataset is accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>.
            </li>
            <li style="list-style-type: circle;">
              Thermal ion imager ion temperature estimates (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EFIxTIE_2_">EFIxTIE_2</a>).
            </li>
            <li style="list-style-type: circle;">
              Ion drift, density and effective mass data (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EFIxIDM_2_">EFIxIDM_2</a>).
            </li>
            <li style="list-style-type: circle;">
              Swarm spacecrafts' positions (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MODx_SC_1B">MODx_SC_1B</a>)
              accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>.
            </li>
            <li style="list-style-type: circle;">
              Thermospheric density (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_DNSxACC_2_">SW_DNSxACC_2_</a>
              and <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_DNSxPOD_2_">SW_DNSxPOD_2_</a>)
              accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>.
            </li>
            <li style="list-style-type: circle;">
              Magnetic field ultra low frequency wave characterisation products
              (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_ULFxMAG_2F">ULFxMAG_2F</a>
              and <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_PC1xMAG_2F">PC1xMAG_2F</a>)
              accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>.
            </li>
            <li style="list-style-type: circle;">
              The Swarm electron density (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_NIX_TMS_2F">NEGIX</a>)
              and total electron content (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_TIX_TMS_2F">TEGIX</a>)
              products accessible via the <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">Python client</a>.
            </li>
          </ul>

          <p>
            VirES also provides access to the
            <a href="https://earth.esa.int/eogateway/news/swarm-fast-data-ready-to-be-released" target="_blank">Swarm FAST L1B</a> and
            L2 <a href="https://earth.esa.int/eogateway/news/swarm-fast-field-aligned-currents-now-available-on-swarm-dissemination-server" target="_blank">FAC</a>
            and <a href="https://earth.esa.int/eogateway/news/swarm-level-2-fast-tec-data-now-available" target="_blank">TEC</a> products.
            The latests 6 months of the FAST
            <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MAGx_LR_1B">MAGx_LR_1B</a>,
            <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MAGx_HR_1B">MAGx_HR_1B</a>,
            <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EFIx_LP_1B">EFIx_LP_1B</a>,
            <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MODx_SC_1B">MODx_SC_1B</a>,
            <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_FACxTMS_2F">FACxTMS_2F</a>, and
            <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_TECxTMS_2F">TECxTMS_2F</a>
            data are available through the <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections" target="_blank">VirES API</a>
            and <a href="/hapi" target="_blank">HAPI</a> interfaces.
          </p>
          <p>The VirES API also provides access to:</p>
          <ul>
            <li style="list-style-type: circle;">
              Hourly, 1 minute and 1 second ground magnetic observatory data (AUX_OBS) from
              <a target="_blank" href="http://intermagnet.org/">INTERMAGNET</a> and
              <a target="_blank" href="https://wdc.bgs.ac.uk/">WDC</a>
            </li>
            <li style="list-style-type: circle;">
              1 and 4 months Virtual Observatory data (VOBS) from the
              <a href="https://www.space.dtu.dk/english/research/projects/project-descriptions/geomagnetic-virtual-observatories" target="_blank">GVO project</a>.
            </li>
            <li style="list-style-type: circle;">
              Calibrated platform magnetometer measurements from the
              CHAMP (<a target="_blank" href="https://doi.org/10.5880/GFZ.2.3.2019.004">CH_ME_MAG_LR_3</a>),
              CryoSat-2 (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/CS_MAG">CS_MAG</a>),
              GOCE (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/GO_MAG_ACAL_CORR">GO_MAG_ACAL_CORR</a>
              and <a target="_blank" href="https://doi.org/10.1186/s40623-022-01695-2">GO_MAG_ACAL_CORR_ML</a>),
              GRACE (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/GRACE_x_MAG">GRACE_x_MAG</a>)
              and GRACE-FO (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/GFx_FGM_ACAL_CORR">GFx_FGM_ACAL_CORR</a>
              and <a target="_blank" href="https://doi.org/10.5880/GFZ.2.3.2023.001">GFx_MAG_ACAL_CORR_ML</a>)
              missions.
            </li>
            <li style="list-style-type: circle;">
              Thermospheric density and crosswind products from the
              CHAMP (<a href="https://swarmhandbook.earth.esa.int/catalogue/CH_DNS_ACC_2_" target="_blank">CH_DNS_ACC_2_</a>
              and <a href="https://swarmhandbook.earth.esa.int/catalogue/CH_WND_ACC_2_" target="_blank">CH_WND_ACC_2_</a>), 
              GRACE (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/GR_DNSxACC_2_">GR_DNSxACC_2_</a>
              and <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/GR_WNDxACC_2_">GR_WNDxACC_2_</a>),
              and GRACE-FO (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/GF_DNSxACC_2_">GF_DNSxACC_2_</a>
              and <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/GF_WNDxACC_2_">GF_WNDxACC_2_</a>)
              missions.
            </li>
            <li style="list-style-type: circle;">
              Multi-mission crossover and plane alignment conjunctions
              of the Swarm, CHAMP, GOCE, GRACE, and GRACE-FO spacecrafts
              (<a href="https://swarmhandbook.earth.esa.int/catalogue/MM_CON_EPH_2_" target="_blank">MM_CON_EPH_2_</a>).
            </li>
            <li style="list-style-type: circle;">
              Dual-spacecraft average electron density products from the
              GRACE (<a href="https://swarmhandbook.earth.esa.int/catalogue/GR_NE__KBR_2F" target="_blank">GR_NE__KBR_2F</a>),
              GRACE-FO (<a href="https://swarmhandbook.earth.esa.int/catalogue/GF_NE__KBR_2F" target="_blank">GF_NE__KBR_2F</a>)
              missions.
            </li>
            <li style="list-style-type: circle;">
              Total electron content (TEC) products from the
              CHAMP (<a href="https://swarmhandbook.earth.esa.int/catalogue/CH_TEC_TMS_2F" target="_blank">CH_TEC_TMS_2F</a>),
              GRACE (<a href="https://swarmhandbook.earth.esa.int/catalogue/GR_TEC_KBR_2F" target="_blank">GR_TEC_KBR_2F</a>),
              GRACE-FO (<a href="https://swarmhandbook.earth.esa.int/catalogue/GF_TEC_KBR_2F" target="_blank">GF_TEC_KBR_2F</a>)
              missions.
            </li>
          </ul>
          <p>
            These datasets can be accessed with the
            <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections">VirES Python client</a>,
            readily available in <a target="_blank" href="https://vre.vires.services/">VRE</a>.
          </p>

          <p>The following models of the Earth's magnetic field and its components (core, crust, lithospheric, magnetospheric, and ionospheric magnetic field) are available</p>
          <ul>
            <li style="list-style-type: circle;">
              14th generation of the International Geomagnetic Reference Field (<a target="_blank" href="https://www.ncei.noaa.gov/products/international-geomagnetic-reference-field">IGRF-14</a>) released in November 2024 by the International Association of Geomagnetism and Aeronomy
            </li>
            <li style="list-style-type: circle;">
              The latest version of the CHAOS high resolution geomagnetic field model derived from Swarm, MSS-1, CSES, CryoSat-2, CHAMP, SAC-C, and Ørsted satellite magnetic data along with ground observatory data (<a target="_blank" href="https://spacecenter.dk/files/magnetic-models/CHAOS-8/">CHAOS-8</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the main (core) field and its temporal variation (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MCO_SHA_2C">MCO_SHA_2C</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the main (core) field and its temporal variation (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MCO_SHA_2D">MCO_SHA_2D</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the lithospheric field (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MLI_SHA_2C">MLI_SHA_2C</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the lithospheric field (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MLI_SHA_2D">MLI_SHA_2D</a>)
            </li>
            <li style="list-style-type: circle;">
              LCS-1 high-resolution lithospheric field model, derived from CHAMP and Swarm satellite observations (<a target="_blank" href="https://spacecenter.dk/files/magnetic-models/LCS-1/">LCS-1</a>)
            </li>
            <li style="list-style-type: circle;">
              MF7 crustal field model, derived from CHAMP satellite observations (<a target="_blank" href="https://geomag.us/models/MF7.html">MF7</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the lithospheric field (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MLI_SHA_2E">MLI_SHA_2E</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MMA_SHA_2C">MMA_SHA_2C primary and secondary field</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MMA_SHA_2F">MMA_SHA_2F primary and secondary field</a>)
            </li>
            <li style="list-style-type: circle;">
              <a target="_blank" href="https://spacecenter.dk/files/magnetic-models/CHAOS-7/">CHAOS</a> spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (CHAOS-MMA primary and secondary field)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the daily geomagnetic variation at middle latitudes (Sq) and low latitudes (EEJ) (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MIO_SHA_2C">MIO_SHA_2C primary and secondary field</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the daily geomagnetic variation at middle latitudes (Sq) and low latitudes (EEJ) (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MIO_SHA_2D">MIO_SHA_2D primary and secondary field</a>)
            </li>
            <li style="list-style-type: circle;">
              Model of the associated magnetic field of the ionospheric current system (<a target="_blank" href="https://pyamps.readthedocs.io/en/latest/readme.html">AMPS</a>)
            </li>
          </ul>

          <p>Users can also work with Custom Models and upload own Spherical Harmonic Expansion coefficients (<a target="_blank" href="https://spacecenter.dk/files/magnetic-models/CHAOS-5/SHC-Format-Decsription.pdf">SHC file format</a>)</p>

          <p>The global context of space weather is provided in form of:</p>
          <ul>
            <li style="list-style-type: circle;">
              Disturbance storm time index (<a target="_blank" href="https://en.wikipedia.org/wiki/Disturbance_storm_time_index">Dst Index</a>) and its rate of change.
            </li>
            <li style="list-style-type: circle;">
              Disturbances in the horizontal component of the Earth's magnetic field (<a target="_blank" href="https://en.wikipedia.org/wiki/K-index">planetary Kp Index</a>)
            </li>
            <li style="list-style-type: circle;">
              Observed daily measure of the solar radio flux per unit frequency at a wavelength of 10.7 cm
              (<a target="_blank" href="https://en.wikipedia.org/wiki/Solar_cycle#Solar_radio_flux">F10.7 index</a>) read from
              the auxiliary <a target="_blank" href="https://earth.esa.int/eogateway/documents/20142/37627/swarm-level-2-product-specification.pdf/2979b351-b6a2-69b6-8539-9ed9f32984f0">AUX_F10_2_</a> product.
            </li>
          </ul>

          <p>
            The data accessible on VirES consists of the newest versions available
            and any new consolidated products (OPER) will appear in VirES
            within 4 hours after being published.  New FAST products will appear
            in VirES within 15 minutes after publishing.
            The data updates may get delayed when a large bulk of re-processed
            products is published.
          </p>

    <p style="font-size:1.4em">Questions?</p>

    <p>Have a look at our <a target="_blank" href="/faq">Frequently asked Questions</a> or our <a href="/swarm_static/other/VirES_for_Swarm_Tutorial_Slides.pdf" target="_blank">tutorial slides</a>. For any further questions or ideas on how we can improve feel free to contact us at <a href="mailto:feedback@vires.services">feedback@vires.services</a></p>
      <div class="row" style="margin-top:30px;">
        <div class="col-md-3" style="text-align:center;"><a target="_blank" href="https//eox.at"><img style="height:32px;vertical-align: center" src="/swarm_static/workspace/images/logos/EOX_Logo.png" alt="EOX IT Services GmbH logo"></a></div>
        <div class="col-md-3" style="text-align:center;"></div>
        <div class="col-md-3" style="text-align:center;"></div>
        <div class="col-md-3" style="text-align:center;"><a target="_blank" href="https://www.esa.int"><img style="height:80px; margin-top:-22px; vertical-align: center" src="/swarm_static/workspace/images/logos/esa.png" alt="European Space Agency Logo"></a></div>
      </div>
  </div>
  <div class="text-muted" style="text-align: center; margin-top:-2em; position: relative;">
    <a style="display:inline; margin-right:5px;" href="/data_terms" target="_blank">ESA Data Terms</a> |
    <a style="display:inline; margin-left:5px;" href="/service_terms" target="_blank">VirES Service Terms</a> |
    <a style="display:inline; margin-left:5px;" href="/privacy_notice" target="_blank">Privacy Notice</a> |
    <a style="display:inline; margin-left:5px;" href="/changelog" target="_blank">New release information</a>
  </div>
    <p style="text-align:right;margin-right:1em;">Service version: {{ version }}</p>
  </div>
</div>
